@media screen and (min-width: 1051px)   { 

    .starb  {   color: #0065FC;} /*etoile bleue*/
.starg  {   color: grey;} /*etoiles grises, c'est ce grisqu'il faudra mettre color: #F2F2F2; */

.inscrip, .hebgt  {  color: #0065FC; font-weight: bold; text-decoration: none;}
.hebgt  {  border-width:50px; border-bottom: 2px solid #0065FC; padding-bottom: 10px;}
.activ  {   color: black; text-decoration: none; border-bottom: 2px solid grey ; padding-bottom: 10px;} /* border, c'est ce gris qu'il faut color: #F2F2F2; */

.activ:hover {   color: #0065FC}
.hebgt:hover {   color: grey}

/* grille entete avec grid   entête à revoir*/

.entete 
{   display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
grid-template-areas: 
"logo logo" 
"hebgt hebgt" 
"inscrip inscrip" 
"activ activ"}

.logo {grid-area:logo ;}
.hebgt  {grid-area:hebgt ;}
.inscrip    {grid-area:inscrip ;}
.activ  {grid-area: activ;}


/*recherche*/

.recherche {display: flex; margin-top: 30px;}

/*icone map*/
.map 
{   display:flex;
    background-color: grey; /*#F2F2F2 c'est ce gris qu'il faudra*/
    font-size: 1rem;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius:0.8rem ;
    width: 2.6rem;
    height: 2.6rem;
    justify-content: center;
    align-items: center;}























    
   
/*FOOTER DESKTOP*/
        .foot { color: black; text-decoration: none; margin-bottom: 50px;}/* problème pour margin ou padding entre les .foot*/
        .propos, .hebt, .aide  /*#F2F2F2 c'est ce gris qu'il faudra mettre*/
        {   background-color: lightgray;
            border: 1px solid lightgray;
           padding-top: 10px;
            padding-bottom: 30px;
            padding-left: 25px;
            text-align:justify;}  
     
     .propos,  .hebt {   width: 375px; height: 100px;} 
     
     .aide {   width: 230px; height: 100px;} 
            
            
     .classfoot
         {   display:grid;
             grid-template-columns: 1fr 1fr 1fr;
             border: 1px solid lightgrey;
             width: 1200px;}
     
     .propos { grid-column: 1;}
     .hebt { grid-column: 2;}
     .aide { grid-column: 3;}
    
    } /*fin media queries*/
    
    
    




        


