@font-face {
    font-family: 'Raleway-Medium';
    src: url('raleway/Raleway-Medium.ttf');
    font-weight: normal;
    font-style: normal;

}
    
*
{
    font-family: Raleway-Regular, Arial, Helvetica, sans-serif;
}
h1,h3
{
    font-weight: bolder;
    
}
