@media all and (min-width: 992px) {

/*Header*/

nav 
{       display: flex;
        justify-content: space-between;
}

.liensnav 
{       display: flex;
        justify-content: space-around;
        align-items: center; 
        width: 45%;
} 

.inscrip-mobile 
{       display: none;
}

.inscrip-desktop
{       display: block !important;

}

/*mise en forme underline*/
.liensnav > div   /* appliqué aux enfants direct*/
{       display: flex;
        flex-direction: column-reverse;
        width:50%;
}


/*recherche*/

.boutonloupe {   display: none;  }

.boutonrecherche { display: inherit;}


/*Filtres*/
/* revoir les marges*/


/*Info*/

/* revoir les marges et display flex*/

/*h2 des sections*/

h2
{ font-size: 18px;}

/*Hotels populaires*/

/* conteneur les hotels populaires*/

.leshotels-populaires
{       width: 30%;
        height: 450px;
        border-radius: 15px; 
}

/*titre et chart revoir marges*/


/*étiquettes hotelspop*/

.hotelpop
{       
        width: 85%;
        height: 100px;
}


/* texte*/
.nompop 
{     
        font-size: 12px;
}

.tarifpop 
{       
        font-size:11px;
        margin: -8px 0 0 0;
}

.espace
{      height: 23%;
}

.etoilespop 
{        font-size: 10px; 
}



/* hotels marseille*/

.imgmars {      height: 55%;}

.imgmars img 
{       width: 95%;
        height: 95%;
        margin: 5px 0 0 4.5px; 
}

/*étiquettes hotels marseille*/
.hotelmars
{       width:85%;
        height: 145px;
}


/* texte et marges*/

.nomhotelmars 
{      font-size: 11px; 
}

.tarifmars
{       font-size: 10px;
}

.etoilesmars
{       font-size: 8.5px;
} 

/* conteneur hotels marseille*/

.leshotelsmarseille
{       display:grid;
        grid-template-columns: 3;
        grid-template-rows: 4;
        background-color: lightgray;
        border: 1px solid lightgray;
        justify-content: space-around;
        padding-right:5% ;
        border-radius:15px; 
        width: 60%; 
        height: 450px;
}

.hebergement    
{       grid-column-start:1 ;
        grid-column-end: 3;
        grid-row: 1; 
}

.h-cannebiere { grid-column:1 ;grid-row:2 ;}
.h-duport { grid-column: 2;grid-row:2 ;}
.h-mouette { grid-column:3 ;grid-row:2 ;}
.h-delamer { grid-column:1 ;grid-row: 3;}
.h-lepanier { grid-column:2 ;grid-row:3 ;}
.h-amina { grid-column:3 ;grid-row:3 ;}

.afficherplus
{       grid-column: 1;
        grid-row:4 ;
}

/*mise en forme leshotels-populaires et leshotelsmarseille*/

/*#conteneurlogements
{       display: flex;
        flex-direction: row-reverse;
       /* justify-content:space-around;
        width: 100%;
}*/

/* activité marseille*/


.imgactiv {   height: 85%;}


.vieup-port img {  height: 100%;}
.calanques img { height: 100%;}

.pomegues img { height: 85%;}

.frioul img { height: 70%;}

.notre-dame img { height: 75%;}

.longchamp img { height: 75%;}


/*étiquettes activités*/

legende-activite
{       font-size: 10px;
        height: 15%;
       /* mobile  padding: 5% ;*/
}


.type-activite
{       width: 230px;
}


.vieux-port, .calanques { height: 320px;}
.pomegues   { height: 165px;}
.frioul { height: 120px;}
.notre-dame { height: 130px;}
.longchamp{ height: 145px;}


/*.lesactivites  
{       display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 3;
        /*margin-bottom: 20px;
        width:90% ;
        
}


.titreactivites {grid-column:1 ; grid-row:1 ;}
.vieup-port { grid-column:1 ; grid-row:2 ; }
.pomegues{grid-column: 2; grid-row: 2;}
.frioul{grid-column:2 ; grid-row:3 ;}
.calanques { grid-column:3 ; grid-row:2 ;}
.notre-dame{grid-column:4 ; grid-row: 2;}
.longchamp{grid-column:4 ; grid-row:3 ;}




/*Footer*/


.classfooter 
{       display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding:0;
        margin: 0;
}



}/*fin media queries desktop*/

/*
@media all and (min-width: 1400px) {
.conteneursite 
{
        max-width: 1440px;
        margin: 0 auto;
}


}/*fin media queries 1400px*/
