@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* { font-family: Raleway, sans-serif;   }
a { text-decoration: none; color: inherit;    }

.fw-bold { font-weight: bold;}


/*Header*/

.lien-hebergt, .lien-inscrip { color: #0065FC;}

.lien-activite:hover {   color:#0065FC}
.lien-hebergt:hover {   color:grey}


/*navigation*/
.inscrip-desktop        
{       display: none !important;
}

.inscrip-mobile 
{       display: block;
}

.logo-inscrip
{       display: flex;
        justify-content: space-between;
        align-items: center;
}

.liensnav
{       display: flex;
        justify-content: space-between;
        align-items: center;
}
        
.liensnav > div   /* appliqué aux enfants direct*/
{       display: flex;
        flex-direction: column;
        width:50%;
}

.liensnav > div a
{       padding: 20px 0;
        text-align: center;
}

/* mise en forme underline*/

.underline
{       width: 100%;
        height:3px ;
        background-color: grey ;
}

.activ-link
{       background-color: blue;
}


/*recherche*/

/*mise en forme icone map pour toute version, mobile, desktop et tablette*/
.iconmap 
{       display:flex;
        background-color: grey; /*#F2F2F2 c'est ce gris qu'il faut*/
        font-size: 16px;
        border-radius: 13px 0 0 13px;
        min-width: 42px;
        min-height: 42px;
        width: 42px;
        height: 42px;
        justify-content: center;
        align-items: center;
}

/* input champs "Marseille, France" toute version*/

.input  {   border: none;}

::placeholder   
{       color:black; 
        font-size: 15px;
        text-align: center; 
        opacity: 1;
} 

/* bouton recherche version desktop et tablette*/

.boutonrecherche 
{       background-color: #0065FC;
        border: none;
        border-radius: 0 13px 13px 0;
        color: white;
        padding: 12px;
        cursor: pointer;
}
.boutonrecherche:hover 
{       color: lightgray;
        transition: ease 0.3s;
}

/* bouton loupe version mobile*/

.iconloupe  {   color: white; font-size: 16px;  }

.boutonloupe 
{       
        background-color: #0065FC;
        border: none; 
        border-radius: 13px;
        min-width:42px;
        min-height: 42px;
        width: 42px;
        height: 42px;
       
        cursor: pointer;
}
.boutonloupe:hover 
{       background-color:gray;
        transition: ease 0.3s;
}

/* box-recherche toute version*/

.box-recherche 
{       display: inline-flex; 
        border: 1px solid  grey;
        border-radius: 13px;
        width: auto;
        height: auto; 
}

/*mobile*/
.boutonrecherche    {   display: none;  }


/*Filtres*/

.icon-filtre
{       display:flex;
        color: #0065FC ;
        border: 1px solid #DEEBFF;
        background-color: #DEEBFF;
        font-size: 16px;
        border-radius:100%;
        min-width: 43px;
        min-height: 43px;
        width: 43px;
        height: 43px;
        justify-content: center;
        align-items: center;
}
    
.bouton-filtre
{       display:flex; 
        border: 1px solid lightgray;/* c'est ce gris qu'il faut #F2F2F2*/
        border-radius:  50px ; 
        margin: 10px 5px 0 0;
        padding: 0 20px 0 0;
        justify-content: center;
        align-items: center;
}

.bouton-filtre:hover {
        cursor: pointer;
        color:#0065FC;
        transition-duration: 0.25s;
}

.bouton-filtre:hover .icon-filtre 
{
        cursor: pointer;
        background: white;
        transition-duration: 0.25s;
}


.categories-filtres
{       display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
}


/*Info*/
  
.icon-info
{       display: flex;
        color: #0065FC ;
        border: 1px solid grey;
        font-size: 8px;
        border-radius:100%;
        width: 16px;
        height: 16px;
        min-height: 16px;
        min-width: 16px;
        justify-content: center;
        align-items: center;
}

/*icone info + texte disponibilités*/
.disponibilites
{       display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
}


.texte-info 
{       font-size: 14px;
        margin-left: 10px;
} 
 
/*étoiles*/

.starb  {   color: #0065FC;} /*etoile bleue*/
.starg  {   color: grey;} /*etoiles grises, c'est ce grisqu'il faudra mettre color: #F2F2F2; */

/*Hotels populaires*/


/*titre les + pop + chart à revoir*/

.chart  
{       font-size: 20px;
       
}

.h2-et-chart
{       display: flex; 
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
}

/* hotels populaires*/
.imgpop
{       margin: 0;
        position: relative;
        min-height: 100%;
        width: 38%;
        min-width: 38%;
        max-width: 38%;    
}

.imgpop img 
{       border-radius: 18px 0 0 18px;
        position: absolute;
        width: 94%;
        height: 93%;
        margin:5px 0 0 5px;
        object-fit: cover;    
}

/*étiquettes hotels populaires*/

.hotelpop
{       display: flex;
        flex-direction: row;
        background-color: white;
        box-shadow: 0px 0px 8px 0px #0065FC;
        border-radius: 18px;
        min-width: 320px;
        max-width: auto;
        height: 130px;
        margin:auto;
       
}

.hotelpop:hover 
{
        cursor: pointer;
        transform: scale(1.03);
        transition: ease 0.4s;
}

/*texte étiquettes*/
.tarifpop 
{       
        font-size:14px;
        margin: -11px 0 0 0;
}

.espace
{      height: 20%;
        
}

.etoilespop 
{        font-size: 12px; 
}

.detailspop
{       margin:0 12px 0 14px ;
}

/* grille hotels populaires*/
.leshotelspop
{       display: flex;
        flex-direction:column;
        background-color: lightgray;
        width: auto;
        height: 550px;
}


/* hotels marseille*/


.imgmars
{       /*margin: 0;*/
        position: relative;
        min-height: 60%;
        width: 100%;
        min-width: 100%;
        max-width: 100%;    
}

.imgmars img
{       border-radius: 18px 18px 0 0;
        position: absolute;
        width: 98%;
        height: 97%;
        margin: 4.5px 3px 0 3.5px;
        object-fit: cover; 
}


/*étiquettes hotels marseille*/

.hotelmars
{       display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 8px 0px #0065FC;
        border-radius: 18px;
        min-width: 300px;
        height: 200px;
        margin-bottom:20px;
        background-color: white;
}

.hotelmars:hover 
{
        cursor: pointer;
        transform: scale(1.03);
        transition: ease 0.4s;
}

/* texte et marges hotel marseille*/ 

 .detailsmars 
{       margin: 10px 0 0 10px;
} 

.nomhotelmars
{       
        font-size: 15px; 
     
}

.tarifmars
{       font-size: 14px; 
        margin-top: 3px;
}


.etoilesmars
{       font-size: 11px;
        margin-top: 5px;
}



.afficherplus
{       
        font-size: 16px; 
}


/* activité marseille*/


.imgactiv
{   margin: 0;
    position: relative;
    min-height: 65%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;    
}

.imgactiv img 
{   border-radius: 18px 18px 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/*faire test avec  background-size:contain;
        background-repeat: no-repeat;*/

/*étiquettes et grille activités*/


.nom-activite
{       margin: 20px 0 0 30px;
        
} 

.type-activite
{       display: flex; 
        flex-direction: column;
        box-shadow: 0px 0px 8px 0px #0065FC;
        border-radius: 18px;
        min-width: 300px;
        height: 200px;
        margin:0 0 20px 0;
}
.type-activite:hover 
{
        cursor: pointer;
        transform: scale(1.03);
        transition: ease 0.4s;
}


/*Footer*/

.classfooter 
{       display: flex;
        flex-direction: column;
        background-color: lightgrey;
        padding: 20px 0 50px 30px;
}

.lien-footer:hover
{
        cursor: pointer;
        text-decoration-line: underline;
}

/* corrections du 19 mai*/
































 

 
 
 







    









   






