@media screen and (min-width: 1051px){


    .entete 
    {   display: flex; justify-content: space-around;
         align-items: center;}
    
    /*.logo {grid-area:logo ;}
    .navigation  {grid-area:nav ; display: flex; align-items: center;
        justify-content: space-around;}
    .inscrip    {grid-area:inscrip ;}*/




/*mise en forme recherche*/
.recherche { display: flex; border: 0.0625rem solid grey;
    width: 18.5rem;height: 2.6rem; border-radius: 0.8rem; }

    .iconmap { margin-top: 0.001rem;margin-left:-0.1rem;}

    .input { margin-left: 0.1rem; }

.boutonrecherche 
{   background-color: #0065FC;
border: 0.0625rem solid #0065FC;
border-top-right-radius: 0.8rem;
border-bottom-right-radius: 0.8rem;
color: white;
height: 2.6rem;
font-size:0.6rem ;
font-weight: bolder;
margin-top: 0.001rem;
padding-right:1.6rem; }

.boutonloupe { display: none;}








/* mise en forme icones+filtres*/


/* mise en forme filtres*/
.filtreco, .filtrefam, .filtrerom, .filtranimo { height:36px;}
.filtreco, .filtrerom { width:150px;}
.filtrefam { width:130px;}

.filtranimo { width:190px;}

.titrefiltres { margin: 10px 10px 20px 20px}
.iconfiltre
 { width: 35px;height: 35px;margin-top: 0.2px;}

.nomfiltre {   margin: none; /*text-align: center;*/}  

.categories { display: flex;align-items: center;
     margin-top: 30px; font-size: 14px;}



 /****icone info****/   


 .inform
 {   display:flex;
     align-items: center; margin-left: 10px;}
  .dispo { margin-left: 10px; font-size: 13px;}

 
   /*.sectionpop*/

.sectionpop {display: flex;flex-direction:column;background-color: lightgray;
    border: 1px solid lightgray ; width: 370px; height: 550px; border-radius: 25px;}

/* grille titre les + pop + chart*/
.pop {display: flex; flex-direction: row; 
    justify-content: space-between;
align-items: center; margin-left: 0.9375rem; margin-right: 0.9375rem;}

.imgpop{
        margin: 0;
        position: relative;
        min-height: 100%;
        width: 33%;
        min-width: 33%;
        max-width: 33%;    
    }

    .imgpop img {
        border-radius: 1.25rem 0 0 1.25rem;
        position: absolute;
        width: 100%;
        height: 90%;
        margin-left: 5px;
        margin-top: 6px;
        object-fit: cover;    
    }
  
/*mise en forme étiquettes hotelspop*/
.hotelmat, .hotelcoeur, .hotelbleu
{ display: flex; flex-direction: row;
    background-color: lightpink;
    box-shadow: 0.375rem 0.375rem 0.3125rem gray;
    border-radius: 1.25rem;
    width: 85%;
    height: 42%;

margin-bottom: 15px; margin-left:20px;}

.detailshotelpop { margin-left: 50px;}

.nomhotelpop { font-weight: bold;font-size: 15px;}

.tarifpop { font-size: 14px;margin-top: -10px; }

.etoilespop { font-size: 12px; }




/* hotels marseille*/

.leshotelsmarseille {display: flex;flex-direction:row;background-color:lightgray;
    border: 1px solid black ; width: 800px; height: 550px; border-radius: 20px;
flex-wrap: wrap;}









.imgmars{
    margin: 0;
    position: relative;
    min-height: 55%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;    }

.imgmars img {
    border-radius: 20px 20px 0 0;
    position: absolute;
    width: 95%;
    height: 95%;
  object-fit: cover;
margin: 5px 0 0 5px; }



.hotelcann, .hoteldup, .hotelmouett, .hotelmer, .hotelpanier, .hotelamina
    { display: flex; flex-direction: column;
        background-color: lightpink;
        box-shadow: 0.375rem 0.375rem 0.3125rem gray;
        border-radius: 1.25rem;
        width: 25%;
        height: 30%;
        margin-bottom: 20px; 
        margin-left:20px;}



.detailshotelmars { margin-left: 20px;}

.nomhotelmars { font-weight: bold;font-size: 13px; }

.tarifmars { font-size: 12px; margin-top:-9px;}

.etoilesmars { font-size: 10px; margin-top:-9px;}






/*.afficherplus { font-weight: bold; font-size: 1rem; margin-left: 0.9375rem;}*/





/* activité marseille*/


.lesactivites {display: flex;flex-direction:column;background-color:lightgray;
    border: 1px solid black ; width: 1000px; height: 1410px; }




/*.titreactivites { margin-left: 0.9375rem;}*/



.imgactiv{
    margin: 0;
    position: relative;
    min-height: 90%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;}

    


.imgactiv img {
    border-radius: 20px 20px 0 0;
    position: absolute;
    width: 100%;
    /*height: 100%;*/
 object-fit: cover; }

.imgvp, .imgpnc { height: 90%;}
    

.imgfdp { height: 75%;}
.imgidf, .imgpl { height: 65%;}
.imgndlag { height: 70%;}



.actvieup, .actpomg, .actfrioul, .actcalanc, .actnotred, .actlongchamp
    { display: flex; flex-direction: column;
        background-color: lightpink;
        box-shadow: 0.375rem 0.375rem 0.3125rem gray;
        border-radius: 1.25rem;
        width: 22%;
      margin-bottom: 20px; 
       }


.actvieup,  .actcalanc { height: 70%;}
.actpomg   { height: 40%;}
.actfrioul { height: 30%;}
.actnotred { height: 35%;}
.actlongchamp{ height: 38%;}









/*FOOTER*/

.classfoot { display: flex;
    background-color: grey;justify-content:space-around; height: 150px;
    align-items:center;font-size: 13px; }

/*.classfoot a   à résoudre
{ margin: 10px;}*/


.aide { margin-right: 200px;}


}/*fin media queries desktop*/